<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>servlets.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>random</servlet-name>
		<servlet-class>servlets.RandomServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>frequency</servlet-name>
		<servlet-class>servlets.FrequencyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>random</servlet-name>
		<url-pattern>/random</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frequency</servlet-name>
		<url-pattern>/frequency</url-pattern>
	</servlet-mapping>

</web-app> 